.contTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}
.linkCat{
    text-decoration: none;
    transition: 1s all ease;
}
.linkCat:hover{
    transform: scale(1.3);
}